.mainvisual {
  height: 65vh;
  background-size: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/images/mv.jpeg);
}

.btn-bgcolor {
  background-color: #3473FF;
}

.margin-top-66 {
  margin-top: 66px;
}

.padding-top-80 {
  padding-top: 80px;
}

.font-size10 {
  font-size: 12px;
}

.min-height {
  min-height: 100vh;
}

.btn-link {
  text-decoration: none;
}

