<footer>
  <nav class="navbar navbar-dark bg-light justify-content-center footer">
    <%= link_to root_path, class: "navbar-brand mx-auto" do %>
      <%= image_tag "/images/logo.png", size: "75x25", alt: "アイコン" %>
    <% end %>
  </nav>
</footer>