<div class="container">
  <div class="row">
    <div class="col-4 mx-auto padding-top-80">
      <h3 class="border-bottom border-primary border-2 mb-5 pb-4 d-flex justify-content-center">新規登録ありがとうございます</h3>
    </div>
  </div>
</div>


<p class="text-center">現在は仮登録の状態です。</p>
<p class="text-center">ご入力頂いたメールアドレス宛に、ご本人様確認用のメールをお送りしました。</p>
<p class="text-center">メール本文内のURLをクリックすると本登録が完了となります。</p>

<div class="d-flex justify-content-center mt-5">
  <%= link_to "トップページへ", root_path, class: "btn btn-primary text-align" %>
</div>